body, html {
    height: 100%;
    margin: 0;
  }

  .topleft img {
    margin: 10px;
    width: 60px; /* Imposta la larghezza desiderata del logo */
    height: auto; /* Imposta l'altezza su "auto" per mantenere le proporzioni */
  }
  .bgimg {
    background-image: url("../Header/study-7217599_1280.jpg");
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
  }

  .topleft {
    position: absolute;
    top: 0;
    left: 16px;
  }

  .topleft img {
    width: 50px;
    height: auto;
  }

  .bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
  }

  .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

  hr {
    margin: auto;
    width: 40%;
  }

  .glitter {
    animation: glitterEffect 1s infinite;
  }

  @keyframes glitterEffect {
    0% { color: white; }
    20% { color: gold; }
    40% { color: white; }
    60% { color: red; }
    80% { color: blu; }
    100% { color: white; }
  }

a {
color: white;
    text-decoration: none;
}
  button {
 outline: none;
 cursor: pointer;
 border: none;
 padding: 0.9rem 2rem;
 margin: 0;
 font-family: inherit;
 font-size: inherit;
 position: relative;
 display: inline-block;
 letter-spacing: 0.05rem;
 font-weight: 700;
 font-size: 17px;
 border-radius: 500px;
 overflow: hidden;
 background: #66ff66;
 color: ghostwhite;
 margin: 13px;
       text-decoration: none;

}

button span {
 position: relative;
 z-index: 10;
 transition: color 0.4s;
}

button:hover span {
 color: black;
}

button::before,
button::after {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: 0;
}

button::before {
 content: "";
 background: red;
 width: 120%;
 left: -10%;
 transform: skew(30deg);
 transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

button:hover::before {
 transform: translate3d(100%, 0, 0);
}